<h1>New post</h1>
<form action="/posts" method="POST">
    <p>Name: <input type="text" name="post[name]"></p>
    <p>Content: <input type="text" name="post[content]"></p>
    <input type="submit">
</form>